
#page-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 720px;
}

.page-row{
  margin-top: 4em;
}

.clear-fix {
  clear: both;
}

.upload-form * {
  margin-left:0.5em;
}

.image-box {
  width: 250px;
  overflow: hidden;
  float: left;
  margin: 1em;
}

.hideMe {
  -moz-animation: hideAnimation ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: hideAnimation ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: hideAnimation ease-in 3s forwards;
  /* Opera */
  animation: hideAnimation ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes hideAnimation {
  0%    { opacity: 1; }
  60%   { opacity: 1; }
  80%   { opacity: 0.5; }
  100%  { opacity: 0; display: none;}
}
@-webkit-keyframes hideAnimation {
  0%    { opacity: 1; }
  60%   { opacity: 1; }
  80%   { opacity: 0.5; }
  100%  { opacity: 0; display: none;}
}